

.accordion-header {
    cursor: pointer;
    padding: 20px;
    border: 0.3px solid blue;
    border-radius: 5px;
    margin-bottom: 1px;
    min-width: 600px;
    display: inline-block;
    color:blue;
    font-weight: 400;
    text-wrap: wrap;
    word-spacing: 5px;

    
  }
  
  .accordion-content {
    border: none;
    background-color: #cccc;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    font-size: small;
    font-weight: 200;

  }

  .accordion-content-invisible{
    visibility: hidden;
  }
  