
.container {
 min-height: 300px;
 padding: 2rem;
 margin: auto;

 font-family: 'Times New Roman', Times, serif;
 line-height: 1.5;
 width: 65%;
 
 /* margin-left: 300px;
 margin-right: 95px; */
}

.content {
 max-width: 1000px;
 margin: 0 auto;
 font-size: 1.15rem;
 margin-left: 70px;
 /* margin-left: -20px; */
}

.content a {
 color: #0066cc;
 text-decoration: none;
 transition: color 0.2s ease;
}

.content a:hover {
 text-decoration: underline;
 color: #004c99;
}

.title {
 font-size: 2.2rem;
 margin-bottom: 1.5rem;
 font-weight: 600;
 /* text-align: center; */
 
}