/* .container-a {
    background-color: blueviolet;
    padding: 20px;
    
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    .button-container {
        /* display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        row-gap: 1px;
        width: 100%;
        justify-content: center; */


        /* display: table;
        width: 100%; 
        row-gap: 10px;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: space-between; */

        /* display: flex;
        flex-wrap: nowrap; /* Prevents wrapping */
        /* justify-content: space-between; /* Adjust as per design */
        /* align-items: center;
        margin: 30px;
        padding-left: 30px;  */
        display: flex;
        flex-direction: row;
        justify-content: space-around; /* This can be space-between, space-around, or center */
        gap: -5px; /* Optional: Adds space between buttons */
        border:none;
        padding: 20px;
        border-radius: 5px;
        max-width: 500px;
        max-height: 200px;
        margin-left: 30px;
    }
        
    
    
    

    .button-target {
        white-space: nowrap;
        /* padding: 0.5rem 1rem;  */
        margin: 3px;
        border: solid 1px gray;
        background-color: blue;
        color: white;
        font-weight: 400;
        cursor: pointer;
        display: table-cell;
        border-radius: 5px;
        max-width: 250px;
        min-width: 100px;
        padding: 10px;
        
        flex-grow: 1;
        /* flex-basis: 0; */
         /* Ensures equal distribution */
        /* Other styles remain the same */
       
       flex-basis: calc(50% - 20px);
        
    }
    
    