.container {
    min-height: 100vh;
    /* background: linear-gradient(to bottom right, #E6F0FF, #EAE6FF); */
    padding: 2rem;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #3730A3;
    margin-bottom: 2rem;
  }

  
  
   /* .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
   */

   /* .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
   
  } */


  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
  }
  .card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    
    text-decoration: none;
  } 
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
  }
  
  .cardHeader {
    padding: 1.5rem;
    background-color: #F7FAFC;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  
  .icon {
    width: 2.5rem;
    height: 2.5rem;
    color: #4A5568;
    margin-right: 1rem;
  }
  
  .tableTitle {
    font-size: 1.25rem;
    font-weight: 600;
    color: #2D3748;
  }
  
  .description {
    padding: 1.5rem;
    flex-grow: 1;
    color: #4A5568;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .cardFooter {
    background-color: #4F46E5;
    padding: 1rem;
    text-align: center;
  }
  
  .viewText {
    color: white;
    font-weight: 500;
    font-size: 0.875rem;
  }
  
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }